/* HEADER SECTION */

.hero {
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f8fa;
  padding: 2em 2em;
  border-bottom: 1.5px solid rgb(213, 213, 213);
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero-desc {
  max-width: 30em;
}

.hero-title {
  font-family: 'Noto Serif';
  font-weight: 700;
  font-size: 3.5em;
  color:rgb(62, 61, 61);
}

.hero-subtitle {
  font-size: 1.5em;
  font-family: 'Cormorant Garamond';
  font-weight:700;
  color:rgb(126, 126, 126);
}

.headshot-img {
  width: 15em;
  min-width: 10em;
  margin-right: 10px;
  overflow: hidden;
}

/* BODY SECTION */

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 3em;
}

.about-section {
  font-family: 'Noto Serif';
  font-weight: 700;
  margin-bottom: 1em;
  color:rgb(62, 61, 61);
  max-width: 60%;
}

.about-section p {
  font-size: 1.5em;
}

.contact-section {
  margin-left: 3em;
  font-family: 'Noto Serif';
  font-weight: 700;
  color:rgb(62, 61, 61);
}

.about-section h2, .contact-section h2 {
  margin-bottom: 1em;
}

.icon-container {
  display: flex;
  flex-direction: column;
}

.icon-container a {
  padding-bottom: 4em;
}

.icon-container a i, .icon-container.fa-github {
  font-size: 2.75em;
  color:rgb(62, 61, 61);
}

.icon-container a i:hover {
  animation: icon-expand 2s infinite;
}

@keyframes icon-expand {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
    color: #308ff5;
  }
}

/*For Ipad Portrait view and below that*/
@media (max-width: 768px) {
  .body {
    flex-direction: column;
    align-items: center;
  }
  .hero {
    text-align: center;
  }
  .about-section {
    order: 2;
    max-width: 100%;
    margin: 0 1em;
    box-sizing: border-box;
    text-align: center;
    /* margin-bottom:0.5em; */
  }
  .about-section h2 {
    margin-bottom:0.5em;
  }
  .contact-section {
    order: 1;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .contact-section h2 {
    margin-bottom:0.5em;
  }
  .icon-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3em;
  }
  .icon-container a {
    padding-bottom: 0;
  }
  .icon-container a i:hover {
    animation: none;
  }
}