.navbar
{
  font-family: 'Unica One';
  font-size: 1.5em;
  color:'#ffffff';
  border-bottom:1.5px solid rgb(213, 213, 213);
}

.normal {
  color: #000000;
  text-decoration: none;
  padding-left: 1em;
}

.active {
  color: #308ff5;
  text-decoration: none;
  padding-left: 1em;
}
