.portfolio-header {
  position: relative;
  height: 100vh;
  background: rgb(0, 0, 0);
  overflow: hidden;
  margin-bottom: 3em;
}

.portfolio-header h1 {
  padding-top: 150px;
  text-align: center;
  z-index: 2;
  position: relative;
  color: #fff;
  font-family: 'Noto Serif';
  font-weight: 700;
  font-size: 3.5em;
}

.portfolio-header h3 {
  padding: 20px;
  text-align: center;
  z-index: 2;
  position: relative;
  color: #fff;
  font-family: 'Cormorant Garamond';
  font-weight:700;
  font-size: 2em;
}

.portfolio-header img {
  position: absolute;
  left: 0;
  top: -20%;
  z-index: 1;
  opacity: 0.5;
}

/* -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */


