/* PORTFOLIO HERO BANNER */
.portfolio-hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.34),rgba(0, 0, 0, 0.34)), url('./images/portfolio_images/blue.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.portfolio-hero h1 {
  color: rgb(237, 237, 237);
  font-family: 'Noto Serif';
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.portfolio-hero h3 {
  color: rgb(237, 237, 237);
  font-family: 'Cormorant Garamond';
  font-weight:700;
  font-size: 1.75em;
}

/* PORTFOLIO PROJECT INSTANCES */

.project {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3em;
}

.langly {
  height: 50em;
  background: #D3D3D3;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.relish {
  height: 40em;
  background: #fff;
  flex-direction: row-reverse;
}

div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 50px;
  min-width: 400px;
  max-width: 700px;
  width: 100%;
  padding: 0;
  text-align: center;
}

div.item * {
  box-sizing: border-box;
}

div.item img {
  max-width: 100%;
  height: 400px;
  vertical-align: top;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item * {
  transition: all .5s ease-in-out;
}

div.item:hover a i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* LANGLY SPECIFIC */
.langly-left {
  display: flex;
  flex-wrap: wrap;
}

.langly-item {
  background: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.256);
}

.fa-share-square, .portfolio-github {
  position: absolute;
  top: 85%;
  color: #fff;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300s 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.fa-share-square {
  left: 88%;
  font-size: 50px;
}

.portfolio-github {
  left: 75%;
  font-size: 55px;
}

/* RELISH SPECIFIC */

.relish-item {
  background: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.fa-medium-m {
  position: absolute;
  top: 85%;
  left: 88%;
  font-size: 45px;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300s 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* TECH LOGOS */

.tech-logos {
  text-align: left;
}

.tech-logos img { 
  height: 80px;
  width: auto;
  padding: 10px;
}

.relish-logos img {
  margin: 0 5px;
}

#js-html-css {
  height: 88px;
}

/* PORTFOLIO DESCRIPTIONS */

div.desc {
  margin-top: 100px;
  overflow: hidden;
  text-align: left;
  color:rgb(62, 61, 61);
}

.desc > .title {
  font-family: 'Noto Serif';
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.langly-desc {
  padding-left: 3em;
  font-size: 20px;
}

.relish-desc {
  padding-right: 3em;
  font-size: 20px;
}