/* PORTFOLIO HERO BANNER */
.portfolio-hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.34),rgba(0, 0, 0, 0.34)), url('./images/portfolio_images/blue.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}

.portfolio-hero h1 {
  color: rgb(237, 237, 237);
  font-family: 'Noto Serif';
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.portfolio-hero h3 {
  color: rgb(237, 237, 237);
  font-family: 'Cormorant Garamond';
  font-weight:700;
  font-size: 1.75em;
  padding: 0 15px;
}

/* PORTFOLIO PROJECT INSTANCES */
.project {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  height: auto;
  overflow: auto;
  padding-bottom: 2em;
}

.langly {
  background: #D3D3D3;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  padding-bottom: 6em;
}

/* PORTFOLIO DESCRIPTIONS */
.desc {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 1em 10em;
  overflow: hidden;
  text-align: left;
  color:rgb(62, 61, 61);
  max-width:100%;
  font-size: 18px;
}

.desc > .title {
  text-align: center;
  font-family: 'Noto Serif';
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.links-mobile {
  display: none;
}

.medium-link {
  font-weight: 700;
  font-style: italic;
}

/* PORTFOLIO IMAGE */
.project-images {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 10em;
}

.item {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  background: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.item * {
  box-sizing: border-box;
  transition: all .5s ease-in-out;
}

.item img {
  max-width: 100%;
  vertical-align: top;
}

.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

.item:hover a i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item a i {
  position: absolute;
  top: 85%;
  color: rgb(165, 165, 165);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300s 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.langly-item .fa-share-square {
  left: 88%;
  font-size: 50px;
}

.langly-item .portfolio-github {
  left: 75%;
  font-size: 55px;
}

.relish-item .fa-medium-m {
  left: 88%;
  font-size: 45px;
}

/* TECH LOGOS */
.tech-logos {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  width: 100%;
}

.tech-logos img { 
  height: 50px;
  width: auto;
}

#js-html-css {
  height: 55px;
}

/*For Ipad Portrait view and below that*/
@media (max-width: 768px) {
  .portfolio-hero {
    background-size: 110em;
    background-position: 10% 0;
  }
  .project {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 1em;
    margin-bottom: 0;
  }
  .langly {
    -webkit-clip-path: none;
    clip-path: none;
  }
  .desc {
    margin: 1em 1em 0 1em;
    max-width: 100%;
    text-align: center;
  }
  .links-mobile {
    display: flex;
    justify-content: space-evenly;
  }
  .links-mobile i {
    color: rgb(62, 61, 61);
    padding: 15px;
    font-size: 2.5em;
  }
  .project-images {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .item {
    margin: 1em 1em 0 1em;
    width: 100%;
  }
  .item a i {
    display: none;
    transform: none;
    transition: none;
  }
  .item:hover img {
    opacity: 1;
    filter: none;
  }
  .tech-logos {
    flex-wrap: wrap;
    margin: 0 1em 3em 1em;
    justify-content: center;
  }
  .tech-logos img {
    margin: 1em;
  }
}